In [60]:
import pandas as pd


df = pd.read_csv('finanzas-hotel-bookings.csv', index_col=0)
pd.set_option('display.max_columns', None)

C:\Users\Isabel\AppData\Local\Temp\ipykernel_8884\838235645.py:4: DtypeWarning: Columns (1,2,5,13,14,15,16,20,21,26,30,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('finanzas-hotel-bookings.csv', index_col=0)

In [61]:
df['meal'].unique()

array(['BB', 'FB', 'HB', 'SC', 'Undefined', nan], dtype=object)

In [62]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737.0,NaN,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
2,Resort Hotel,False,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,0.0,0.0,BB,GBR,NaN,Direct,0.0,0.0,0.0,A,C,0.0,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
3,Resort Hotel,False,13.0,NaN,July,27.0,1.0,0.0,1.0,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
4,Resort Hotel,False,14.0,NaN,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN

In [63]:
df2 = pd.read_csv('recursos-humanos.csv', index_col=0)

In [64]:
def exploracion_basica(lista_df):
    for df in lista_df:
       display(df.head())
       print(df.shape)
       print('')
       print(df.isnull().sum()/df.shape[0]*100)
       print('')
       for columna in df.columns:
        print(df[columna].duplicated().sum()/df.shape[0]*100)
       print('')
       print(df.dtypes)
       for columna in df.select_dtypes(include='O'):
        print(df[columna].value_counts())
        print('')

In [65]:
exploracion_basica([df2])

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,date,Remuneration,Age,Date_of_Birth
0,"Adinolfi, Wilson K",10026.0,0.0,0.0,1.0,1.0,5.0,4.0,NaN,"62,506.00",0.0,19.0,Production Technician I,MA,1960.0,07/10/83,F,Single,NaN,No,White,7/5/2011,NaN,Terminated,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5.0,NaN,1/17/2019,0.0,1.0,NaN,"62,506.00",NaN,NaN
1,NaN,10084.0,NaN,1.0,1.0,5.0,3.0,3.0,0.0,"104,437.00",1.0,27.0,Sr. DBA,MA,2148.0,05/05/75,M,Married,US Citizen,No,White,NaN,6/16/2016,NaN,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,4.96,3.0,6.0,NaN,NaN,17.0,NaN,"104,437.00",NaN,NaN
2,"Akinkuolie, Sarah",10196.0,1.0,1.0,0.0,5.0,5.0,3.0,NaN,"64,955.00",1.0,20.0,Production Technician II,MA,1810.0,09/19/88,F,Married,NaN,No,NaN,NaN,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3.0,0.0,5/15/2012,NaN,3.0,NaN,"64,955.00",NaN,NaN
3,"Alagbe,Trina",10088.0,1.0,1.0,0.0,1.0,5.0,3.0,0.0,"64,991.00",0.0,19.0,Production Technician I,MA,1886.0,09/27/88,F,Married,US Citizen,No,NaN,1/7/2008,NaN,Terminated,Active,Production,Elijiah Gray,16.0,NaN,Fully Meets,4.84,5.0,0.0,1/3/2019,NaN,15.0,NaN,"64,991.00",NaN,NaN
4,"Anderson, Carol",10069.0,0.0,2.0,0.0,5.0,5.0,3.0,NaN,"50,825.00",1.0,19.0,Production Technician I,MA,2169.0,09/08/89,F,Divorced,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4.0,0.0,2/1/2016,0.0,2.0,NaN,"50,825.00",NaN,NaN

(410, 40)

Employee_Name                 60.000000
EmpID                         24.146341
MarriedID                     37.317073
MaritalStatusID               24.146341
GenderID                      24.146341
EmpStatusID                   24.146341
DeptID                        24.146341
PerfScoreID                   31.219512
FromDiversityJobFairID        61.951220
Salary                        24.146341
Termd                         24.146341
PositionID                    24.146341
Position                      24.146341
State                         24.146341
Zip                           24.146341
DOB                           24.146341
Sex                           45.365854
MaritalDesc                   24.146341
CitizenDesc                   35.853659
HispanicLatino                24.146341
RaceDesc                      44.634146
DateofHire                    44.390244
DateofTermination             75.121951
TermReason                    38.780488
EmploymentStatus              24.146341
Department                    54.878049
ManagerName                   46.341463
ManagerID                     26.097561
RecruitmentSource             35.121951
PerformanceScore              24.146341
EngagementSurvey              24.146341
EmpSatisfaction               24.146341
SpecialProjectsCount          51.707317
LastPerformanceReview_Date    40.731707
DaysLateLast30                53.414634
Absences                      24.146341
date                          75.853659
Remuneration                  24.146341
Age                           99.512195
Date_of_Birth                 94.390244
dtype: float64

59.756097560975604
23.902439024390244
99.26829268292683
98.53658536585365
99.26829268292683
98.53658536585365
98.29268292682927
98.78048780487805
99.26829268292683
24.634146341463413
99.26829268292683
92.4390243902439
91.95121951219512
92.6829268292683
61.21951219512195
24.878048780487806
99.02439024390245
98.53658536585365
99.02439024390245
98.78048780487805
98.29268292682927
78.53658536585367
76.82926829268293
95.1219512195122
99.02439024390245
98.29268292682927
94.6341463414634
94.14634146341463
97.5609756097561
98.78048780487805
70.73170731707317
98.53658536585365
97.80487804878048
71.21951219512195
98.29268292682927
94.8780487804878
98.53658536585365
24.634146341463413
99.26829268292683
99.02439024390245

Employee_Name                  object
EmpID                         float64
MarriedID                     float64
MaritalStatusID               float64
GenderID                      float64
EmpStatusID                   float64
DeptID                        float64
PerfScoreID                   float64
FromDiversityJobFairID        float64
Salary                         object
Termd                         float64
PositionID                    float64
Position                       object
State                          object
Zip                           float64
DOB                            object
Sex                            object
MaritalDesc                    object
CitizenDesc                    object
HispanicLatino                 object
RaceDesc                       object
DateofHire                     object
DateofTermination              object
TermReason                     object
EmploymentStatus               object
Department                     object
ManagerName                    object
ManagerID                     float64
RecruitmentSource              object
PerformanceScore               object
EngagementSurvey              float64
EmpSatisfaction               float64
SpecialProjectsCount          float64
LastPerformanceReview_Date     object
DaysLateLast30                float64
Absences                      float64
date                           object
Remuneration                   object
Age                           float64
Date_of_Birth                  object
dtype: object
Employee_Name
Adinolfi, Wilson  K    1
Monroe, Peter          1
Motlagh,  Dawn         1
Moumanil, Maliki       1
Navathe, Kurt          1
                      ..
Good, Susan            1
Goyal, Roxana          1
Gross, Paula           1
Gruber, Hans           1
Zima, Colleen          1
Name: count, Length: 164, dtype: int64

Salary
63,025.00    2
57,815.00    2
61,242.00    2
66,738.00    1
68,829.00    1
            ..
51,337.00    1
53,171.00    1
52,249.00    1
65,707.00    1
45,046.00    1
Name: count, Length: 308, dtype: int64

Position
Production Technician I         137
Production Technician II         57
Area Sales Manager               27
Production Manager               14
Software Engineer                10
IT Support                        8
Data Analyst                      7
Sr. Network Engineer              5
Database Administrator            5
Network Engineer                  5
BI Developer                      4
Senior BI Developer               3
Administrative Assistant          3
Sales Manager                     3
Accountant I                      3
Sr. DBA                           2
IT Manager - DB                   2
Sr. Accountant                    2
Director of Operations            1
Shared Services Manager           1
Data Analyst                      1
Data Architect                    1
Principal Data Architect          1
IT Manager - Infra                1
President & CEO                   1
Enterprise Architect              1
BI Director                       1
Director of Sales                 1
IT Director                       1
IT Manager - Support              1
Software Engineering Manager      1
CIO                               1
Name: count, dtype: int64

State
MA    274
CT      6
TX      3
VT      2
Ma      2
UT      1
AZ      1
ND      1
OR      1
MT      1
NV      1
ID      1
KY      1
NC      1
FL      1
GA      1
CO      1
NY      1
PA      1
RI      1
NH      1
TN      1
IN      1
OH      1
CA      1
WA      1
AL      1
VA      1
ME      1
Name: count, dtype: int64

DOB
09/09/65    2
06/14/87    2
09/22/76    2
07/07/84    2
05/12/80    1
           ..
10/01/90    1
12/02/83    1
09/15/85    1
07/06/68    1
08/17/78    1
Name: count, Length: 307, dtype: int64

Sex
F     101
M      70
M      53
Name: count, dtype: int64

MaritalDesc
Single       137
Married      124
Divorced      30
Separated     12
Widowed        8
Name: count, dtype: int64

CitizenDesc
US Citizen             250
Eligible NonCitizen     10
Non-Citizen              3
Name: count, dtype: int64

HispanicLatino
No     282
Yes     27
no       1
yes      1
Name: count, dtype: int64

RaceDesc
White                               135
Black or African American            60
Asian                                20
Two or more races                     9
American Indian or Alaska Native      2
Hispanic                              1
Name: count, dtype: int64

DateofHire
1/10/2011    12
1/5/2015     10
9/26/2011     9
7/5/2011      8
5/16/2011     8
             ..
3/7/2011      1
7/9/2012      1
4/30/2012     1
1/21/2011     1
4/10/2010     1
Name: count, Length: 87, dtype: int64

DateofTermination
8/19/2018    2
4/1/2013     2
9/24/2012    2
5/17/2016    2
9/7/2015     2
            ..
1/11/2014    1
5/30/2011    1
3/15/2015    1
6/25/2015    1
9/29/2015    1
Name: count, Length: 94, dtype: int64

TermReason
N/A-StillEmployed                   93
Terminated                          79
Another position                    11
unhappy                             10
hours                                8
more money                           8
attendance                           6
career change                        6
return to school                     5
relocation out of area               5
performance                          4
military                             4
retiring                             3
no-call, no-show                     3
maternity leave - did not return     2
medical issues                       1
Learned that he is a gangster        1
Fatal attraction                     1
gross misconduct                     1
Name: count, dtype: int64

EmploymentStatus
Active                    207
Voluntarily Terminated     88
Terminated for Cause       16
Name: count, dtype: int64

Department
Production              124
IT/IS                    29
Sales                    19
Software Engineering      7
Admin Offices             5
Executive Office          1
Name: count, dtype: int64

ManagerName
Webster Butler        18
Elijiah Gray          16
Ketsia Liebig         15
Brannon Miller        15
Michael Albert        14
Simon Roup            14
David Stanley         14
Amy Dunn              13
Kissy Sullivan        13
Janet King            13
Kelley Spirea         12
John Smith            12
Peter Monroe          11
Lynn Daneault          9
Alex Sweetwater        8
Jennifer Zamora        6
Brian Champaigne       6
Brandon R. LeBlanc     5
Eric Dougall           3
Debra Houlihan         2
Board of Directors     1
Name: count, dtype: int64

RecruitmentSource
Indeed                     72
LinkedIn                   68
Google Search              37
Diversity Job Fair         28
Employee Referral          28
CareerBuilder              18
Website                    12
Other                       2
On-line Web application     1
Name: count, dtype: int64

PerformanceScore
Fully Meets          243
Exceeds               37
Needs Improvement     18
PIP                   13
Name: count, dtype: int64

LastPerformanceReview_Date
1/14/2019    14
2/18/2019    10
1/28/2019     9
1/21/2019     8
2/25/2019     7
             ..
5/15/2012     1
3/6/2011      1
1/20/2015     1
4/29/2016     1
2/1/2019      1
Name: count, Length: 117, dtype: int64

date
2022-01-03    23
2022-04-01    22
2022-05-01    19
2022-01-02    19
2022-01-01    16
Name: count, dtype: int64

Remuneration
63,025.00    2
57,815.00    2
61,242.00    2
66,738.00    1
68,829.00    1
            ..
51,337.00    1
53,171.00    1
52,249.00    1
65,707.00    1
45,046.00    1
Name: count, Length: 308, dtype: int64

Date_of_Birth
Twenty-Fourth November, 1987    11
Invalid Date                    11
No Data                          1
Name: count, dtype: int64

In [66]:
df['lead_time'].value_counts()

lead_time
0.000000      6345
1.000000      3460
2.000000      2069
3.000000      1816
4.000000      1715
              ...
359.478372       1
310.531535       1
207.269543       1
274.258844       1
341.238166       1
Name: count, Length: 579, dtype: int64

In [67]:
exploracion_basica([df])

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737.0,NaN,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
2,Resort Hotel,False,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,0.0,0.0,BB,GBR,NaN,Direct,0.0,0.0,0.0,A,C,0.0,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
3,Resort Hotel,False,13.0,NaN,July,27.0,1.0,0.0,1.0,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
4,Resort Hotel,False,14.0,NaN,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN

(182877, 32)

hotel                             34.715683
is_canceled                       34.715683
lead_time                         34.661002
arrival_date_year                 64.550490
arrival_date_month                34.715683
arrival_date_week_number          44.769435
arrival_date_day_of_month         34.780754
stays_in_weekend_nights           34.661002
stays_in_week_nights              34.661002
adults                            34.694904
children                          62.104584
babies                            34.693264
meal                              34.715683
country                           64.427457
market_segment                    67.227153
distribution_channel              42.092773
is_repeated_guest                 37.457417
previous_cancellations            58.317339
previous_bookings_not_canceled    34.715683
reserved_room_type                56.651192
assigned_room_type                34.715683
booking_changes                   34.700372
agent                             43.650650
company                           97.883824
days_in_waiting_list              34.715683
customer_type                     48.490515
adr                               34.715683
required_car_parking_spaces       34.715683
total_of_special_requests         34.715683
reservation_status                34.715683
reservation_status_date           41.756481
0                                 76.513722
dtype: float64

99.99835955314228
99.99835955314228
99.68284694084002
99.99781273752303
99.99125095009214
99.97047195656097
99.98250190018427
99.93547575692952
99.92563307578317
99.98304871580352
99.99179776571138
99.99179776571138
99.99671910628454
99.91032223844442
99.99507865942682
99.99671910628454
99.99835955314228
99.98797005637668
99.95953564417614
99.99398502818835
99.99289139694987
99.98742324075745
99.81736358317339
99.82994034241595
99.92946078511787
99.99726592190379
95.14427730113682
99.99671910628454
99.99617229066531
99.99781273752303
99.45755890571259
99.1311099810255

hotel                              object
is_canceled                        object
lead_time                         float64
arrival_date_year                 float64
arrival_date_month                 object
arrival_date_week_number          float64
arrival_date_day_of_month         float64
stays_in_weekend_nights           float64
stays_in_week_nights              float64
adults                            float64
children                          float64
babies                            float64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                 float64
previous_cancellations            float64
previous_bookings_not_canceled    float64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                   float64
agent                             float64
company                           float64
days_in_waiting_list              float64
customer_type                      object
adr                               float64
required_car_parking_spaces       float64
total_of_special_requests         float64
reservation_status                 object
reservation_status_date            object
0                                  object
dtype: object
hotel
City Hotel      79330
Resort Hotel    40060
Name: count, dtype: int64

is_canceled
False    75166
True     44224
Name: count, dtype: int64

arrival_date_month
August       13877
July         12661
May          11791
October      11160
April        11089
June         10939
September    10508
November      6794
December      6780
March         5922
February      4898
3             3872
January       3581
2             3170
1             2348
Name: count, dtype: int64

meal
BB           92310
HB           14463
SC           10650
Undefined     1169
FB             798
Name: count, dtype: int64

country
PRT    26577
GBR     6585
FRA     5756
ESP     4712
DEU     3972
       ...
LIE        1
NIC        1
GGY        1
FJI        1
UMI        1
Name: count, Length: 163, dtype: int64

market_segment
Online TA        28331
Offline TA/TO    12116
Groups           10008
Direct            6354
Corporate         2643
Complementary      363
Aviation           118
Undefined            1
Name: count, dtype: int64

distribution_channel
TA/TO        86822
Direct       12997
Corporate     5899
GDS            176
Undefined        5
Name: count, dtype: int64

reserved_room_type
A    57202
D    12637
E     4345
F     1907
G     1375
B      746
C      625
H      428
P        6
L        4
Name: count, dtype: int64

assigned_room_type
A    74053
D    25322
E     7806
F     3751
G     2553
C     2375
B     2163
H      712
I      363
K      279
P       12
L        1
Name: count, dtype: int64

customer_type
Transient          70610
Transient-Party    19839
Contract            3290
Group                460
Name: count, dtype: int64

reservation_status
Check-Out    75166
Canceled     43017
No-Show       1207
Name: count, dtype: int64

reservation_status_date
2015-10-21 00:00:00    1298
2015-07-06 00:00:00     732
2016-11-25 00:00:00     692
2015-01-01 00:00:00     678
2016-01-18 00:00:00     562
                       ...
2029-04-31                1
2022-09-31                1
2029-02-30                1
2029-06-31                1
2024-11-31                1
Name: count, Length: 991, dtype: int64

0
0.0        12780
2.0         2363
1.0         2121
A           1771
BB          1257
           ...
48.2           1
149.5          1
68.07          1
153.07         1
4/02/17        1
Name: count, Length: 1588, dtype: int64

In [68]:
import numpy as np

In [69]:
df[df['0'] != 'NaN'].sample(20)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
17427,Resort Hotel,False,532.0,NaN,October,40.0,2.0,2.0,7.0,2.0,0.0,0.0,BB,GBR,NaN,TA/TO,0.0,0.0,0.0,NaN,D,0.0,40.0,NaN,0.0,Contract,47.46,0.0,0.0,Check-Out,2015-10-11 00:00:00,NaN
94075,City Hotel,False,32.0,2016.0,July,31.0,28.0,0.0,3.0,3.0,NaN,0.0,BB,SWE,NaN,TA/TO,0.0,NaN,0.0,D,D,0.0,9.0,NaN,0.0,Transient,168.30,0.0,1.0,Check-Out,2016-07-31 00:00:00,NaN
31193,Resort Hotel,False,3.0,NaN,December,51.0,17.0,0.0,1.0,2.0,NaN,0.0,BB,NaN,Direct,Direct,0.0,NaN,0.0,NaN,A,0.0,NaN,NaN,0.0,Transient-Party,39.00,0.0,1.0,Check-Out,2016-12-18 00:00:00,NaN
34991,Resort Hotel,False,152.0,2017.0,April,14.0,5.0,1.0,4.0,2.0,NaN,0.0,BB,GBR,Groups,TA/TO,0.0,NaN,0.0,NaN,D,3.0,NaN,NaN,0.0,Transient-Party,60.00,0.0,0.0,Check-Out,NaN,NaN
170611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,423.0
161805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
94053,City Hotel,False,130.0,NaN,July,NaN,27.0,0.0,3.0,3.0,0.0,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,D,D,0.0,9.0,NaN,0.0,Transient,137.70,0.0,0.0,Check-Out,NaN,NaN
140708,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
74902,City Hotel,True,326.0,NaN,September,37.0,8.0,0.0,1.0,2.0,NaN,0.0,BB,PRT,NaN,TA/TO,0.0,1.0,0.0,A,A,0.0,1.0,NaN,0.0,Transient,60.00,0.0,0.0,Canceled,2015-05-28 00:00:00,NaN
181001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58941,City Hotel,True,32.0,2016.0,October,43.0,18.0,0.0,2.0,1.0,NaN,0.0,BB,NaN,Direct,NaN,0.0,NaN,0.0,E,E,0.0,NaN,NaN,0.0,Transient,150.00,0.0,0.0,Canceled,NaN,NaN
6398,Resort Hotel,False,215.0,2016.0,June,NaN,7.0,4.0,10.0,2.0,NaN,0.0,BB,IRL,Online TA,TA/TO,0.0,0.0,0.0,NaN,D,0.0,240.0,NaN,0.0,Transient,87.50,0.0,0.0,Check-Out,2016-06-21 00:00:00,NaN
22123,Resort Hotel,False,7.0,NaN,3,11.0,11.0,2.0,5.0,1.0,NaN,0.0,BB,NaN,NaN,TA/TO,0.0,0.0,0.0,NaN,E,0.0,240.0,NaN,0.0,Transient,76.86,1.0,0.0,Check-Out,2016-03-18 00:00:00,NaN
16339,Resort Hotel,False,70.0,NaN,August,34.0,17.0,3.0,5.0,50.0,0.0,0.0,BB,NaN,Online TA,TA/TO,0.0,NaN,0.0,NaN,D,0.0,241.0,NaN,0.0,Transient,119.97,0.0,1.0,Check-Out,2015-08-25 00:00:00,NaN
145783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27204,Resort Hotel,False,119.0,2016.0,August,34.0,19.0,1.0,2.0,2.0,1.0,0.0,BB,NaN,Direct,Direct,0.0,NaN,0.0,E,E,0.0,NaN,NaN,0.0,Transient-Party,241.00,0.0,2.0,Check-Out,2016-08-22 00:00:00,NaN
133544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
8424,Resort Hotel,True,98.0,NaN,September,40.0,26.0,2.0,5.0,1.0,0.0,0.0,BB,GBR,Online TA,TA/TO,0.0,0.0,0.0,D,D,0.0,240.0,NaN,0.0,Transient,119.71,0.0,1.0,Canceled,2016-08-16 00:00:00,NaN
125042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
79968,City Hotel,False,46.0,2015.0,November,45.0,6.0,1.0,2.0,2.0,0.0,0.0,BB,NaN,Offline TA/TO,TA/TO,0.0,0.0,0.0,NaN,D,0.0,28.0,NaN,0.0,Transient,60.00,0.0,0.0,Check-Out,NaN,NaN

In [70]:
df.drop_duplicates(inplace=True)

In [71]:
df['distribution_channel'].unique()

array(['Direct', 'Corporate', 'TA/TO', nan, 'Undefined', 'GDS'],
      dtype=object)

In [72]:
exploracion_basica([df])

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737.0,NaN,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
2,Resort Hotel,False,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,0.0,0.0,BB,GBR,NaN,Direct,0.0,0.0,0.0,A,C,0.0,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
3,Resort Hotel,False,13.0,NaN,July,27.0,1.0,0.0,1.0,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
4,Resort Hotel,False,14.0,NaN,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN

(119837, 32)

hotel                              1.528743
is_canceled                        1.528743
lead_time                          1.445297
arrival_date_year                 46.574931
arrival_date_month                 1.528743
arrival_date_week_number          16.831196
arrival_date_day_of_month          1.628045
stays_in_weekend_nights            1.445297
stays_in_week_nights               1.445297
adults                             1.505378
children                          42.916628
babies                             1.502875
meal                               1.528743
country                           46.384673
market_segment                    50.566186
distribution_channel              12.765673
is_repeated_guest                  5.711091
previous_cancellations            37.273129
previous_bookings_not_canceled     1.528743
reserved_room_type                34.746364
assigned_room_type                 1.528743
booking_changes                    1.511219
agent                             15.005382
company                           96.788137
days_in_waiting_list               1.528743
customer_type                     22.468019
adr                                1.528743
required_car_parking_spaces        1.528743
total_of_special_requests          1.528743
reservation_status                 1.528743
reservation_status_date           12.254145
0                                 98.563048
dtype: float64

99.99749659954772
99.99749659954772
99.51600924589233
99.9966621327303
99.98664853092116
99.95493879185894
99.97329706184233
99.90153291554361
99.88651251282992
99.97413152865975
99.9874829977386
99.9874829977386
99.99499319909543
99.86314744194196
99.99248979864316
99.99499319909543
99.99749659954772
99.9816417300166
99.9382494555104
99.9908208650083
99.98915193137346
99.98080726319918
99.72128808297937
99.7404808197802
99.89235378055191
99.99582766591286
92.5899346612482
99.99499319909543
99.99415873227801
99.9966621327303
99.17220891711241
98.67403222710848

hotel                              object
is_canceled                        object
lead_time                         float64
arrival_date_year                 float64
arrival_date_month                 object
arrival_date_week_number          float64
arrival_date_day_of_month         float64
stays_in_weekend_nights           float64
stays_in_week_nights              float64
adults                            float64
children                          float64
babies                            float64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                 float64
previous_cancellations            float64
previous_bookings_not_canceled    float64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                   float64
agent                             float64
company                           float64
days_in_waiting_list              float64
customer_type                      object
adr                               float64
required_car_parking_spaces       float64
total_of_special_requests         float64
reservation_status                 object
reservation_status_date            object
0                                  object
dtype: object
hotel
City Hotel      78066
Resort Hotel    39939
Name: count, dtype: int64

is_canceled
False    74883
True     43122
Name: count, dtype: int64

arrival_date_month
August       13751
July         12556
May          11637
October      10984
April        10955
June         10789
September    10338
December      6707
November      6660
March         5886
February      4841
3             3861
January       3558
2             3140
1             2342
Name: count, dtype: int64

meal
BB           91207
HB           14229
SC           10641
Undefined     1148
FB             780
Name: count, dtype: int64

country
PRT    25903
GBR     6570
FRA     5745
ESP     4697
DEU     3928
       ...
LIE        1
NIC        1
GGY        1
FJI        1
UMI        1
Name: count, Length: 163, dtype: int64

market_segment
Online TA        28313
Offline TA/TO    11833
Groups            9626
Direct            6351
Corporate         2635
Complementary      363
Aviation           118
Undefined            1
Name: count, dtype: int64

distribution_channel
TA/TO        85534
Direct       12960
Corporate     5864
GDS            176
Undefined        5
Name: count, dtype: int64

reserved_room_type
A    56144
D    12619
E     4344
F     1907
G     1375
B      746
C      625
H      428
P        6
L        4
Name: count, dtype: int64

assigned_room_type
A    72716
D    25280
E     7803
F     3750
G     2553
C     2374
B     2162
H      712
I      363
K      279
P       12
L        1
Name: count, dtype: int64

customer_type
Transient          69800
Transient-Party    19406
Contract            3246
Group                460
Name: count, dtype: int64

reservation_status
Check-Out    74883
Canceled     41918
No-Show       1204
Name: count, dtype: int64

reservation_status_date
2015-10-21 00:00:00    1232
2015-07-06 00:00:00     667
2016-11-25 00:00:00     651
2015-01-01 00:00:00     638
2016-01-18 00:00:00     518
                       ...
2029-04-31                1
2022-09-31                1
2029-02-30                1
2029-06-31                1
2024-11-31                1
Name: count, Length: 991, dtype: int64

0
0.0          37
TA/TO         7
2.0           7
Check-Out     7
A             7
             ..
POL           1
23/06/15      1
6/06/17       1
52.46         1
4/02/17       1
Name: count, Length: 1588, dtype: int64

In [76]:
df['hotel'].fillna('UNK', inplace=True)
indices = df[df['hotel']=='UNK'].index

df.drop(indices, axis=0, inplace=True)

C:\Users\Isabel\AppData\Local\Temp\ipykernel_8884\451909002.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['hotel'].fillna('UNK', inplace=True)

In [82]:
df['customer_type'].unique()

array(['Transient', nan, 'Contract', 'Transient-Party', 'Group'],
      dtype=object)

In [81]:
df[['market_segment', 'distribution_channel', 'agent', 'customer_type']]

       market_segment distribution_channel  agent customer_type
0                 NaN               Direct    NaN     Transient
1                 NaN               Direct    NaN     Transient
2                 NaN               Direct    NaN     Transient
3           Corporate            Corporate  304.0     Transient
4           Online TA                TA/TO  240.0     Transient
...               ...                  ...    ...           ...
119385  Offline TA/TO                TA/TO  394.0           NaN
119386            NaN                TA/TO    9.0     Transient
119387      Online TA                TA/TO    9.0     Transient
119388      Online TA                TA/TO   89.0     Transient
119389            NaN                TA/TO    9.0           NaN

[118005 rows x 4 columns]

In [77]:
exploracion_basica([df])

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737.0,NaN,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
2,Resort Hotel,False,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,0.0,0.0,BB,GBR,NaN,Direct,0.0,0.0,0.0,A,C,0.0,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
3,Resort Hotel,False,13.0,NaN,July,27.0,1.0,0.0,1.0,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
4,Resort Hotel,False,14.0,NaN,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN

(118005, 32)

hotel                               0.000000
is_canceled                         0.000000
lead_time                           0.000000
arrival_date_year                  45.745519
arrival_date_month                  0.000000
arrival_date_week_number           15.540019
arrival_date_day_of_month           0.100843
stays_in_weekend_nights             0.000000
stays_in_week_nights                0.000000
adults                              0.000000
children                           42.052455
babies                              0.000000
meal                                0.000000
country                            45.552307
market_segment                     49.798737
distribution_channel               11.411381
is_repeated_guest                   4.247278
previous_cancellations             36.319647
previous_bookings_not_canceled      0.000000
reserved_room_type                 33.733316
assigned_room_type                  0.000000
booking_changes                     0.000000
agent                              13.685861
company                            96.738274
days_in_waiting_list                0.000000
customer_type                      21.264353
adr                                 0.000000
required_car_parking_spaces         0.000000
total_of_special_requests           0.000000
reservation_status                  0.000000
reservation_status_date            10.904623
0                                 100.000000
dtype: float64

99.99830515656116
99.99830515656116
99.59408499639846
99.99661031312232
99.98728867420871
99.95423922715139
99.9728825049786
99.98559383076989
99.97034023982035
99.97457734841744
99.98728867420871
99.98813609592814
99.9957628914029
99.86102283801533
99.99237320452524
99.99491546968349
99.99745773484175
99.98135672217279
99.93813821448244
99.9906783610864
99.98983093936698
99.98135672217279
99.71696114571417
99.7364518452608
99.89153001991441
99.9957628914029
92.47574255328163
99.9957628914029
99.99491546968349
99.99745773484175
99.17206898012796
99.99915257828059

hotel                              object
is_canceled                        object
lead_time                         float64
arrival_date_year                 float64
arrival_date_month                 object
arrival_date_week_number          float64
arrival_date_day_of_month         float64
stays_in_weekend_nights           float64
stays_in_week_nights              float64
adults                            float64
children                          float64
babies                            float64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                 float64
previous_cancellations            float64
previous_bookings_not_canceled    float64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                   float64
agent                             float64
company                           float64
days_in_waiting_list              float64
customer_type                      object
adr                               float64
required_car_parking_spaces       float64
total_of_special_requests         float64
reservation_status                 object
reservation_status_date            object
0                                  object
dtype: object
hotel
City Hotel      78066
Resort Hotel    39939
Name: count, dtype: int64

is_canceled
False    74883
True     43122
Name: count, dtype: int64

arrival_date_month
August       13751
July         12556
May          11637
October      10984
April        10955
June         10789
September    10338
December      6707
November      6660
March         5886
February      4841
3             3861
January       3558
2             3140
1             2342
Name: count, dtype: int64

meal
BB           91207
HB           14229
SC           10641
Undefined     1148
FB             780
Name: count, dtype: int64

country
PRT    25903
GBR     6570
FRA     5745
ESP     4697
DEU     3928
       ...
LIE        1
NIC        1
GGY        1
FJI        1
UMI        1
Name: count, Length: 163, dtype: int64

market_segment
Online TA        28313
Offline TA/TO    11833
Groups            9626
Direct            6351
Corporate         2635
Complementary      363
Aviation           118
Undefined            1
Name: count, dtype: int64

distribution_channel
TA/TO        85534
Direct       12960
Corporate     5864
GDS            176
Undefined        5
Name: count, dtype: int64

reserved_room_type
A    56144
D    12619
E     4344
F     1907
G     1375
B      746
C      625
H      428
P        6
L        4
Name: count, dtype: int64

assigned_room_type
A    72716
D    25280
E     7803
F     3750
G     2553
C     2374
B     2162
H      712
I      363
K      279
P       12
L        1
Name: count, dtype: int64

customer_type
Transient          69800
Transient-Party    19406
Contract            3246
Group                460
Name: count, dtype: int64

reservation_status
Check-Out    74883
Canceled     41918
No-Show       1204
Name: count, dtype: int64

reservation_status_date
2015-10-21 00:00:00    1232
2015-07-06 00:00:00     667
2016-11-25 00:00:00     651
2015-01-01 00:00:00     638
2016-01-18 00:00:00     518
                       ...
2015-02-09 00:00:00       1
2015-03-29 00:00:00       1
2024-09-31                1
2015-03-13 00:00:00       1
2027-09-31                1
Name: count, Length: 976, dtype: int64

Series([], Name: count, dtype: int64)

In [74]:
filter1 = df[df['children'] > 0][['assigned_room_type', 'reserved_room_type', 'children']]

In [75]:
filter1

       assigned_room_type reserved_room_type  children
13                      G                  G       1.0
45                      G                  G       2.0
55                      C                NaN       2.0
98                      D                  D       1.0
148                     H                  H       2.0
...                   ...                ...       ...
168179                NaN                NaN      14.0
174330                NaN                NaN      15.0
179533                NaN                NaN      15.0
179548                NaN                NaN      10.0
182450                NaN                NaN      10.0

[5075 rows x 3 columns]

# NOTAS:

- BORRAR:
    - company 
    - 0
    - reserved_room_type    
    - market segment

- CAMBIOS:
    - en categóricaS: cambiar nan por undefined

## cosas que revisar:
- relación entre los que cancelan y el distribuion_channel